* {
  padding: 0px;
  margin: 0px;
}
.majorContainer {
  background-image: url(../../Assets/Wallpaper.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
