*{
     margin: 0px;;
     padding: 0px;
}
.majorContainer{
     padding: 20px;
     display: grid;
     grid-template-rows: 400px 400px 400px;
     grid-template-areas: "companyLogo"
                           "aboutus"
                           "ourteam";
}
.title{
     font-size: 20px;
     color: #64DFDF;
}
.content{
     font-size: 14px;
}
.companyLogo{
     padding-top: 130px;
     grid-area: companyLogo;

}
.aboutus{
     border-top: black solid 1px;
     grid-area: aboutus;
}
.aboutcontent{
     padding-top: 150px;
}
.ourteam{
     grid-area: ourteam;
}