* {
  margin: 0px;
  padding: 0px;
}
.majorContainer {
  padding: 20px;
  display: grid;
  background-color: #404040;
  grid-template-rows: 400px 400px 400px 100px;
  grid-template-areas:
    "companyLogo"
    "aboutus"
    "ourteam"
    "footer";
}
.title {
  font-size: 24px;
  color: #64dfdf;
  margin-bottom: 20px;
}
.content {
  font-size: 18px;
  padding-left: 50px;
  padding-right: 50px;
}
.companyLogo {
  padding-top: 130px;
  grid-area: companyLogo;
}
.aboutus {
  border-top: black solid 1px;
  grid-area: aboutus;
}
.aboutcontent {
  padding-top: 150px;
  padding-left: 50px;
  padding-right: 50px;
}
.ourteam {
  border-top: black solid 1px;
  grid-area: ourteam;
}
.ourteamcontent {
  padding-top: 150px;
  padding-left: 50px;
  padding-right: 50px;
}
.memberpic {
  height: 170px;
}
.memberinfo {
  display: flex;
  margin-bottom: 30px;
}
.memberinfo p {
  padding: 40px 70px 0px 70px;
}
