* {
  margin: 0px;
  padding: 0px;
}
.majorContainer {
  background-color: #404040;
}
.title {
  font-size: 24px;
  color: #64dfdf;
  margin-bottom: 20px;
}
.content {
  font-size: 18px;
  padding-left: 50px;
  padding-right: 50px;
}
.companyLogo {
  padding-top: 130px;
}
.aboutus {
  border-top: black solid 1px;
}
.aboutcontent {
  padding-top: 150px;
  padding-left: 50px;
  padding-right: 50px;
}
.ourteam {
  border-top: black solid 1px;
}
.ourteamcontent {
  padding-top: 150px;
  padding-left: 50px;
  padding-right: 50px;
}
.memberpic {
  height: 170px;
}
.memberinfo {
  display: flex;
  margin-bottom: 30px;
}
.memberinfo p {
  padding: 40px 70px 0px 70px;
}
