* {
  padding: 0px;
  margin: 0px;
}

.majorContainer {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #6039a021;
}
.heading {
  height: 10px;
  width: 80%;
  margin: 10px;
  margin-top: 15px;
}
.heading p {
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  color: #6039a0;
}
.dropZone {
  float: left;
  margin-top: 25px;
  padding: 15px;
  border-radius: 8px;
  border: 2px dashed #6830c370;
  outline: none;
  cursor: pointer;
  width: calc(80% - 30px);
  height: 200px;
  background-color: rgb(223, 223, 223);
  overflow: hidden;
}
.dropZone img {
  border-radius: 2px;
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.534);
}
.dropZone p {
  cursor: pointer;
  margin-top: 80px;
  color: rgba(0, 0, 0, 0.589);
}
.uploadZone {
  float: left;
  margin-top: 25px;
  padding: 15px;
  border-radius: 8px;
  border: 2px dashed #6830c370;
  outline: none;
  cursor: pointer;
  width: calc(80% - 30px);
  height: 200px;
  background-color: rgb(223, 223, 223);
  overflow: hidden;
}
.uploadZone p {
  font-size: 19px;
  margin: 25px;
  margin-top: 45px;
  color: #4e2e81;
}
.button {
  outline: none;
  padding: 5px 10px;
  margin-left: 10px;
  margin-top: 7px;
  height: 28px;
  color: #fff;
  font-size: 14px;
  font-weight: 200;
  background-color: #6830c39d;
  border-radius: 4px;
  float: right;
}
.button:hover {
  background-color: rgb(51, 192, 145);
  transition-duration: 0.4s;
  cursor: pointer;
}
.error {
  color: rgb(204, 77, 130);
}
.buttonC {
  outline: none;
  padding: 5px 10px;
  margin-left: 10px;
  margin-top: 7px;
  height: 28px;
  color: #6830c3;
  font-size: 14px;
  font-weight: 200;
  background-color: #fff;
  border-radius: 4px;
  border: 2px solid #6830c39d;
  float: right;
}
.buttonC:hover {
  border: 2px solid rgb(204, 77, 130);
  color: rgb(204, 77, 130);
  transition-duration: 0.4s;
  cursor: pointer;
}
