* {
  margin: 0px;
  padding: 0px;
}
.majorContainer {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "clmn1 clmn2";
  gap: 20px;
  padding: 20px 20px;
  box-shadow: 0px 10px 40px 0px rgba(64, 38, 105, 1);
}
.imgWrap1 {
  grid-area: "clmn1";
  display: inline-block;
  width: 100%;
}
.imgWrap1 img {
  width: 100%;
  margin: 10px 0px;
}
.imgWrap2 {
  grid-area: "clmn2";
  display: inline-block;
  width: 100%;
}
.imgWrap2 img {
  width: 100%;
  margin: 10px 0px;
}
