*{
     margin: 0px;
     padding: 0px;
}
.majorContainer{
     height: 1000px;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-areas: "Column1 Column2 Column3";
     gap: 10px;
}
.Column1{
     grid-area: Column1;
}
.Column2{
     grid-area: Column2;
}
.Column2{
     grid-area: Column3;
}