* {
  margin: 0px;
  padding: 0px;
}
.majorContainer {
  background-color: #252525;
  height: 40px;
  margin-top: -1px;
  padding-right: 30px;
  padding-left: 30px;
}
.optionslist {
  display: inline-flex;
  list-style: none;
  font-size: 16px;
  text-transform: uppercase;
  float: left;
  width: 100%;
  margin-top: 8px;
  overflow: auto;
}
::-webkit-scrollbar {
  display: none;
}
.options {
  color: rgba(255, 255, 255, 0.774);
  padding-right: 30px;
  padding-left: 30px;
  cursor: pointer;
}
.options:hover {
  color: #64dfdf;
  transition-duration: 0.4s;
}
